1.What are the two values of the Boolean data type? How do you write them?

In [1]:
#Ans -  True and False are two values of boolean data type.
a = True
b = False
type(a)
type(b)

bool

2. What are the three different types of Boolean operators?

Ans - and, or & not are three different types of boolean operators.

#3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).

#Ans - 
##Truth table for and -

True and True is True 

True and False is False

False and True is False

False and False is False

##Truth table for or -

True or True is True

True or False is True

False or True is True

False or False is False

##Truth table for not -

not True is False

not False is True

##4. What are the values of the following expressions?

(5 > 4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [3]:
print((5 > 4) and (3 == 5))
print(not (5 > 4))
print((5 > 4) or (3 == 5))
print(not ((5 > 4) or (3 == 5)))
print((True and True) and (True == False))
print((not False) or (not True))

False
False
True
False
False
True

##5. What are the six comparison operators?

##ANS -  

equal to (==)

not equal to (!=)

greater than (>)

less than (<)

Greater than equal to (>=)

Less than equal to (<=)

##6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

##ANS - Equal to (==) operator is compariason operatopr who compares the value and equal(=) is assignment operator which stores the assign value

In [6]:
#EQUAL TO OPERATOR
if (7==8):
  print(True)
else:
  print(False)

#ASSIGNMENT OPERATOR

a = 6
b = 7
if (a<b):
  print(f"{a} is less than {b}")
else:
  print(f"{a} is greater than {b}")

c= 14
print(c)

False
6 is less than 7
14

##7. Identify the three blocks in this code:
spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

In [9]:
spam = 0
if spam == 10:
 print('eggs')      #Block 1 -Indentation error - Space us missing after if statement
if spam > 5:
 print('bacon')     #Block 1 -Indentation error - Space us missing after if statement
else:
 print('ham')       #Block 1 -Indentation error - Space us missing after else statement
 print('spam')      
 print('spam')

ham
spam
spam

##8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [14]:
spam = int(input("Enter a number: "))
if spam == 1:
  print("Hello")
elif spam == 2:
  print("Howdy")
else:
  print("Greetings!")

Enter a number: 6
Greetings!

##9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

## Ans -  If my programme is stuck in an endless loop i will press ctr+c

##10. How can you tell the difference between break and continue?

## Ans -  break stop the loop at that time and continue command continues the loop till it satisfy condition or break it.

In [23]:
#for break command
for i in range(10):
  if i == 6:
    break
  print(i)

print("--------------------------------------------------")
# for continue command
for i in range(10):
  if i==6:
    continue
  print(i)

0
1
2
3
4
5
--------------------------------------------------
0
1
2
3
4
5
7
8
9

##11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

## Ans - Basically in all three conditions are same. (Check below programm)

##In range(10):By default range starts with 0 goes till 9 (Excludes 10) 

## In range(0,10): Here we are providing starting value as 0 and same it goes till 9 (excludes 10)

## In range(0,10,1): Here providing starting value as 0 and jump value as 1. Value jump by 1 and it goes till 9 (exclues 10)

In [24]:
for i in range(10):
  print(i)
print("-------------------------------------------------------------------------")

for i in range(0,10):
  print(i)
print("--------------------------------------------------------------------------")

for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9
-------------------------------------------------------------------------
0
1
2
3
4
5
6
7
8
9
--------------------------------------------------------------------------
0
1
2
3
4
5
6
7
8
9

##12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [25]:
#using for loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
#using while loop
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

##13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

## Ans -  by using spam.bacon()